{% extends 'base.html.twig' %}

{% block title %}Mes Loisirs{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="mb-4">Mes Loisirs</h1>
    
    <div class="row">
        <!-- Carte pour le premier loisir -->
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="{{ asset('image/logo_tkd.png') }}" class="card-img-top" alt="loisir 1">
                <div class="card-body">
                    <h5 class="card-title">Taekwondo</h5>
                    <p class="card-text">Depuis petit j'ai toujours fait des sports de combats comme le Taekwondo ou le Grappling </p>
                    <p Cela fait 9 ans que je pratique le Taekwondo p>
                </div>
            </div>
        </div>

        <!-- Carte pour le deuxième loisir -->
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="loisir 2">
                <div class="card-body">
                    <h5 class="card-title">Nom du loisir 2</h5>
                    <p class="card-text">Description de votre passion et pourquoi vous aimez cette activité.</p>
                </div>
            </div>
        </div>

        <!-- Carte pour le troisième loisir -->
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="loisir 3">
                <div class="card-body">
                    <h5 class="card-title">Nom du loisir 3</h5>
                    <p class="card-text">Description de votre passion et pourquoi vous aimez cette activité.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}