{% extends 'base.html.twig' %}

{% block title %}Mes Loisirs{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="mb-4">Mes Loisirs</h1>
    
    <div class="row">
        <!-- Carte pour le premier loisir -->
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="{{ asset('image/logo_tkd.png') }}" class="card-img-top" alt="loisir 1">
                <div class="card-body">
                    <h5 class="card-title">Taekwondo</h5>
                    <p class="card-text">Depuis petit j'ai toujours pratiqué des sports de combats comme le Taekwondo ou le Grappling </p>
                    <p Cela fait 9 ans que je pratique le Taekwondo p>
                </div>
            </div>
        </div>

        <!-- Carte pour le deuxième loisir -->
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="{{ asset('image/voyage.jpg') }}" class="card-img-top" alt="loisir 2">
                <div class="card-body">
                    <h5 class="card-title">Voyager</h5>
                    <p class="card-text">Passionné par les découvertes, j'adore voyager pour découvrir de nouvelles cultures, m'immerger dans différentes cultures et élargir mes perspectives.</p>
                </div>
            </div>
        </div>

        <!-- Carte pour le troisième loisir -->
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="{{ asset('image/jeu-video-visu.jpg') }}"class="card-img-top" alt="loisir 3">
                <div class="card-body">
                    <h5 class="card-title">Jeux vidéos</h5>
                    <p class="card-text">Passionné par les jeux vidéo, j’aime plonger dans des univers immersifs, relever des défis captivants et partager des expériences avec d'autres joueurs.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}